<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../js/angular.min.js"></script>
    <script src="directive_replace_transclude.js"></script>
</head>
<body>
<body ng-app="app">
<!--自定义一个简单的指令-->
<div ng-controller="myCtrl">
    <hello-world>
        <div>这是指令内部的内容</div>
    </hello-world>
    <!--<div hello-world></div>-->
    <!--<div class="hello-world"></div>-->
    <!--&lt;!&ndash; directive:hello-world &ndash;&gt;-->
    <!--<div></div>-->
    <zpc-sgo>
        <div>这是指令内部的内容</div>
    </zpc-sgo>
</div>

</body>
</body>
</html>