<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@&=</title>
    <script src="../../js/angular.min.js"></script>
    <script src="directive&@=&.js"></script>
</head>
<body ng-app="app">
<div ng-controller="myCtrl">

    <!--<say-hello-world say="sayHello('zpc')"></say-hello-world>-->

    <!--<say-hello-world zpcsgo="{{zpc}}"></say-hello-world>-->
    <input type="text" ng-model="zzz"/>
    <span>{{zzz}}</span>
    <say-hello-world my="zzz"></say-hello-world>
</div>
</body>
</html>