<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../js/angular.min.js"></script>
    <script src="directive_compile_link.js"></script>
</head>
<body ng-app="app">
<div ng-controller="myCtrl">
    <zpc-sgo>
        <div>compile and link</div>
        <img src="images/compile_link.png"/>
    </zpc-sgo>
    <!--<div hello-world></div>-->
    <!--<div class="hello-world"></div>-->
    <!--&lt;!&ndash; directive:hello-world &ndash;&gt;-->
    <!--<div></div>-->
</div>

</body>
</html>